.grid-container{
    border: 2px dashed #999;
    display: grid;
    min-height: 400px;
    padding: 10px;
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: 80px 1fr 60px;
}
.grid-item{
    border: 1px solid goldenrod;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}
.item-1{
    background-color: plum;
    grid-column: 1 / span 3;
    grid-row: 1 / 2;
}
.item-2{
    background-color: aquamarine;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
.item-3{
    background-color: burlywood;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
.item-4{
    background-color: rgb(141, 248, 141);
    grid-column: 3 / 4;
}
.item-5{
    background-color: cadetblue;
}
.item-6{
    background-color: pink;
    grid-column: 1 / span 3;
    grid-row: 3 / 4;
}